@charset "utf-8";
/* CSS Document */

/*--Import GLOBAL CSS--*/
@import url('global.css');

body{font-family: 'Lato', sans-serif; font-weight:400;}
.wrapper{min-height:100vh; background:url(../images/bg.jpg) left top repeat #d9dfdf;}
header.header{min-height:60px; background-color:#2c3638;}
.logo{background-color:#232b2d; border-right:1px solid #414f52;}
.logo a{padding:0 20px; font-size:25px; color:#fff;}
.logo a span{margin-right:10px;}
.logo a span:last-child{margin-right:0;}
.page{background-color:#f2f4f4; box-shadow:0 0 4px rgba(0,0,0,0.4);}
ul.menu li, ul.main-menu li{float:left; border-left:1px solid #455658;}
ul.menu li a, ul.main-menu li a{display:block; padding:10px 15px; line-height:26px; font-size:15px; color:#fff; font-weight:600;}
ul.menu li a:hover, ul.menu li.active a, ul.main-menu li a:hover{color:#4baed0;}
ul.main-menu li{border:0;}
ul.main-menu li a:hover{color:#fff;}
ul.main-menu li a span{margin-right:10px;}
ul.main-menu li a span:last-child{margin-right:0;}
.dashboard-menu{background-color:#4baed0; border-top:4px solid #007898; background-color:#4baed0; padding:10px 40px 0;}
.dashboard-menu ul li{float:left; margin-right:15px;}
.dashboard-menu ul li:last-child{margin-right:0;}
.dashboard-menu ul li a{display:block; padding:10px 15px; min-width:125px; line-height:20px; font-size:15px; text-align:center; color:#fff; border-radius:4px 4px 0 0; background-color:#007898;}
.dashboard-menu ul li a:hover{background-color:#d65554;}
.more-menu{width:30px; height:30px; margin-right:15px; cursor:pointer;}
.more-menu i{color:#007898; font-size:18px;}
.nav-icon{width:30px; height:30px; background-color:#d65554; margin-right:5px; cursor:pointer;}
.nav-icon i{color:#fff; font-size:14px;}
.page-contents{padding:40px;}
.page-section{margin-bottom:20px;}
.page-section:last-child{margin-bottom:0;}
.page-headding{background-color:#e8ecec; border-radius:6px; border:1px solid #d9dfdf; padding:10px 35px;}
.page-headding h2{color:#232b2d;}
.page-headding p{color:#8a9fa4;}
.sidebar{width:250px; margin-left:20px;}
.white-box{background-color:#fff; padding:15px; border-radius:4px; box-shadow:-1px 1px 2px rgba(0,0,0,0.1);}
a.links{font-size:14px; color:#1ed085; text-decoration:underline;}
a.links:hover{color:#1ed085; text-decoration:none;}
.security-icons a{margin-right:20px;}
.security-icons a:last-child{margin-right:0;}
.table-header h6{color:#2c3438;}
.table-header a{width:30px; height:30px; color:#d9e0e5; font-size:18px;}
.table-header a:hover{color:#2c3438;}
.add-button{background-color:#1ed085; border-radius:3px; font-size:10px; color:#fff; text-transform:uppercase; padding:5px; line-height:1;}
.add-button:hover{color:#fff;}
.add-button i{margin-right:5px;}
.tables .table-responsive{padding-bottom:15px;}
.tables table{border:0; width:100%;}
.tables table tr th{padding:5px 10px; background-color:#f2f4f4; font-weight:normal; border-right:1px solid #b9c4c4;}
.tables table tr th:last-child{border:0;}
.tables table tr td{font-size:14px; padding:8px 10px; font-weight:700;}
.tables table tr:nth-child(even) td{background-color:#e4f9f0;}
.tables table tbody tr{border-bottom:1px solid #e7ebeb;}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after{
	bottom:0.2em
}


@media(max-width:1199px){
	.wrapper{padding:50px 0;}
	.container{max-width:100%;}
	.logo a{font-size:20px;}
	.logo a span img{max-width:35px;}
	.logo a{padding:0 15px;}
	ul.menu li a, ul.main-menu li a{font-size:14px; padding:5px 10px;}
	.dashboard-menu ul li{margin-right:10px;}
	.dashboard-menu ul li a{font-size:14px; padding:8px 12px;}
	.dashboard-menu{padding:5px 25px 0; border-top-width:3px;}
	.page-contents{padding:25px;}
	.page-headding{border-radius:4px; padding:8px 25px;}
}
@media(max-width:991px){
	.wrapper{padding:30px 0;}
	.dashboard-menu{padding:5px 15px 0;}
	.dashboard-menu ul li{margin-right:5px;}
	.dashboard-menu ul li a{padding:6px 10px; min-width:auto;}
	.logo a span img{max-width:30px;}
	.logo a{font-size:18px;}
	header.header{min-height:50px;}
	.logo a span{margin-right:5px;}
	.page-contents{padding:15px;}
	.page-headding{border-radius:4px; padding:6px 15px;}
	.sidebar{width:100%; margin-left:0; margin-top:20px;}
	.tables table{min-width:700px;}
}
@media(min-width:768px){
	ul.menu, .dashboard-menu{display:block !important;}
	.nav-icon, .more-menu{display:none !important;}
	.page-headding p{font-size:16px;}
}
@media(max-width:767px){
	.wrapper{padding:15px 0;}
	ul.menu{position:absolute; left:0; top:100%; width:100%; display:none; z-index:9;}
	ul.menu li{float:none; margin:0; border:0; border-bottom:1px solid #e86261;}
	ul.menu li:last-child{border:0;}
	ul.menu li a{background-color:#d65554;}
	ul.menu li a:hover, ul.menu li.active a{color:#fff; background-color:#e86261;}
	.dashboard-menu{padding:0; border:0; display:none;}
	.dashboard-menu ul li{float:none; margin:0;}
	.dashboard-menu ul li a{border-radius:0; text-align:left; line-height:24px;}
	.dashboard-menu ul li{border-bottom:1px solid #4baed0;}
	.dashboard-menu ul li:last-child{border:0;}
	.dashboard-menu ul li a:hover{color:#fff; background-color:#4baed0;}
	ul.main-menu{margin-right:10px;}
	.page-headding{border-radius:4px; padding:5px 10px;}
}
@media(max-width:575px){
	ul.main-menu li a span{margin:0;}
	ul.main-menu li a span:last-child{display:none;}
}